@page "/learnBlazor/demoProduct"
@using Tangy.WebServer.Pages.LearnBlazor.Components

<h2 class="text-primary">Demo Product</h2>
<p>Favorites Total: @SelectedFavoriteCount </p>
<p>Last Selected Product: @LastProductSelected </p>
<div class="border p-2 mt-2" style="background-color:azure">
    <div class="row">
        @foreach (var p in _products)
        {
            <_IndividualProduct Product="p" 
                OnFavoriteUpdated="FavoriteCountUpdate"
                OnProductSelectedChange="ProductSelectedChange">
            </_IndividualProduct>
        }
    </div>
</div>

@code {
    protected void FavoriteCountUpdate(bool isSelected)
    {
        if (isSelected) SelectedFavoriteCount++;
        else SelectedFavoriteCount--;
    }

}
